/* Base styles */

body {
  background: #0f0f0f;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: 3rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: .5;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.row {
  display: flex;
  -webkit-display: flex;
}

.col {
  flex-grow: 1;
}

/* custom styles */
.banner {
  background-image: url('../images/background.jpg');
  background-position: center;
  min-height: 25vh;
  padding: 5rem 1rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
}

.banner-text {
  display: inline-block;
  width: auto;
  margin: auto;
  padding: 1rem 2rem;
  background: #17bebb;
  color: white;
  border: 50px solid #fad8d6;
}

.profile-pic {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  max-height: 250px;
  width: auto;
}

.favorites {
  margin: 3rem 0;
}

.favorites .col {
  padding: 2rem;
}

.favorites-power {
  background: #17bebb;
}

.favorites-friend {
  background: #ef476f;
}

.favorites-talent {
  background: #edf060;
  color: black;
}

.meme {
  background: white;
  color: black;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.meme-text {
  padding: .5rem 1rem;
  font-weight: 900;
}

.footer {
  padding: 3rem 1rem;
  padding-top: 5rem;
  text-align: center;
}

.btn {
  background: #665687;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 900;
  letter-spacing: 2px;
  color: white;
  box-shadow: 5px 10px 5px rgba(237,240,96,.7);
  transition: box-shadow .25s;
}

.btn:hover {
  box-shadow: 3px 5px #edf060;
}
