/* custom styles */

.banner {
  background-image: url('../images/background.jpg');
  background-position: center;
  min-height: 25vh;
  padding: 5rem 1rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
}

.banner-text {
  display: inline-block;
  width: auto;
  margin: auto;
  padding: 1rem 2rem;
  background: #17bebb;
  color: white;
  border: 50px solid #fad8d6;
}

.profile-pic {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  max-height: 250px;
  width: auto;
}

.favorites {
  margin: 3rem 0;
}

.favorites .col {
  padding: 2rem;
}

.favorites-power {
  background: #17bebb;
}

.favorites-friend {
  background: #ef476f;
}

.favorites-talent {
  background: #edf060;
  color: black;
}

.media-video.col {
  max-width: 50%;
}

.meme {
  background: white;
  color: black;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.meme-text {
  padding: .5rem 1rem;
  font-weight: 900;
}

.footer {
  padding: 5rem 1rem;
  text-align: center;
}

.footer h2 {
  font-size: 3rem;
}

.btn {
  background: #665687;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 900;
  letter-spacing: 2px;
  color: white;
  border-radius: .25rem;
  box-shadow: 5px 10px 5px rgba(237,240,96,.7);
  transition: box-shadow .25s;
}

.btn:hover {
  box-shadow: 3px 5px #edf060;
}

.copyright {
  background: #fad8d6;
  font-size: .7rem;
  color: black;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
}
